#header {
  font-size: xx-large;
  font-weight: 400;
  margin-top: 1em;
}

ul#tasklist {
  list-style-type: none;
  margin: 2em 0 0.5em 0;
  width: 30%;

  li {
    .task-container {
      margin: 1em;
      width: 100%;
      padding: 0.5em 0.5em;
      border: 0.01em solid rgb(185, 184, 184);

      p.task-name {
        font-weight: 600;
        font-size: larger;
      }

      p.task-category {
        font-size: 0.8em;
        margin: 0.5em 0;
        color: rgb(185, 184, 184);
      }

      div.task-timer {
        text-align: center;
        font-size: xx-large;
        //font-weight: 100;

        button.timer-button {
          margin-top: 2em;
          width: 100%;
          padding: 0.5em 1em;
          background-color: white;
          border: 0.01em rgb(201, 201, 201) solid;
          cursor: pointer;
        }

        button.start-button {
          color: greenyellow;
        }

        button.stop-button {
          color: red;
        }
      }
    }
  }
}

button#add-button{
    padding: 0.5em 1em;
    cursor: pointer
}
